<footer class="footer ">
	<div class="grid ">
		<div class="grid__row ">
			<div class="grid__column-2-5-nth ">
				<h3 class="footer_heding ">Chăm sóc khách hàng </h3>
				<ul class="footer-list ">
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Trung Tâm Trợ Giúp</a>

					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Hướng Dẫn Mua Hàng</a>

					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Vận Chuyển</a>
					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Trả Hàng & Hoàn Tiền</a>

					</li>
				</ul>
			</div>

			<div class="grid__column-2-5-nth ">
				<h3 class="footer_heding ">Về shop </h3>
				<ul class="footer-list ">
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Giới Thiệu</a>
					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Chính Sách Bảo Mật</a>

					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Chính Hãng</a>

					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Flash Sales</a>
					</li>
				</ul>
			</div>

			<div class="grid__column-2-5-nth ">
				<h3 class="footer_heding ">Danh mục </h3>
				<ul class="footer-list ">
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Sảm Phẩm Mới Nhất</a>

					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Xả hàng</a>

					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Ưu Đãi Khách Hàng</a>

					</li>
					<li class="footer-list-item ">
						<a href=" " class="footer-list-item-link ">Yêu Cầu Trợ Giúp</a>

					</li>
				</ul>
			</div>

			<div class="grid__column-2-5-nth ">
				<h3 class="footer_heding ">Theo dõi </h3>
				<ul class="footer-list ">
					<li class="footer-list-item ">
						<i class="footer-list-item-icon fab fa-facebook "></i>
						<a href=" " class="footer-list-item-link ">Facebook</a>
					</li>

					<li class="footer-list-item ">
						<i class="footer-list-item-icon fab fa-instagram-square "></i>
						<a href=" " class="footer-list-item-link ">Instagram</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="grid__full-width ">
		<div class="footer__bottom ">
			<p class="footer__text "> 2022 - Bản quyền thuộc Cavirgo.com</p>
		</div>
	</div>
</footer>