<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>TRANG CHỦ</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" th:href="@{/base.css}">
	<link rel="stylesheet" th:href="@{/main.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
	<div class="app">
		<div th:include="@{/header.html}"></div>
		<div class="container ">
			<div class="modal_black "></div>
			<div class="grid ">
				<div class="grid__row ">
					<div class="grid__column-10 ">

						<div class="home-product ">
							<!-- nguyên tắc grid - row - column  -->
							<th:block th:each="map : ${session.map}">

								<div class="grid__row ">
									<div class="grid__row-title ">
										<h3 class="grid__row-title-name " style="text-transform: uppercase;" th:text="${map.key}" ></h3>
										<!-- <a  class="grid__row-title-link ">Xem thêm</a> -->
									</div>
									<th:block th:each="product : ${map.value}">

										<div class="grid__column-2-5 ">
											<div class="home-product-item ">
												<img th:src="${product.token}" class="home-product-item-img ">
												<div class="home-product-item__origin ">
													<a th:href="@{/detailProduct(ma=${product.ma})}" class="home-product-item__origin-brand ">Mua ngay</a>
												</div>
												<h4 class="home-product-item-name " th:text="${product.ten}"></h4>
												<div class="home-product-item-price ">
													<div class="home-product-item-price-current ">
														<span th:text="${product.format}"></span>
														<span style="text-decoration: underline; ">đ</span>
													</div>
												</div>
											</div>
										</div>
									</th:block>
								</div>
							</th:block>
						</div>


					</div>
					<div class="grid__column-2 ">
						<div class="category ">

							<div class="category-img ">
								<div class="category-img-item ">
									<div class="category-img-item-1 category-img-item-phone ">
										<a class="category-img-link-img ">
											<img th:src="@{/phone.png} " alt=" " class="category-img-link-phone ">
										</a>
									</div>

									<div
										class="category-img-link-hover category-img-item-phone category-img-link-hover1 ">
										<h3 class="category-img-link-heading ">
											Hotline
										</h3>
									</div>
								</div>
								<div class="category-img-item ">
									<div class="category-img-item-1 category-img-item-meg ">
										<a class="category-img-link-img ">
											<img th:src="@{/meg.png} " alt=" " class="category-img-link ">
										</a>
									</div>

									<div
										class="category-img-link-hover category-img-item-meg category-img-link-hover2 ">
										<h3 class="category-img-link-heading ">
											Facebook
										</h3>
									</div>
								</div>

								<div class="category-img-item ">
									<div class="category-img-item-1 ">
										<a class="category-img-link-img ">
											<img th:src="@{/zalo-1.png}" alt=" " class="category-img-link ">
										</a>
									</div>

									<div class="category-img-link-hover category-img-link-hover3 ">
										<h3 class="category-img-link-heading ">
											Zalo
										</h3>
									</div>
								</div>
							</div>

							<ul class="category-list ">
								<li class="category-item ">
									<img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-the-thao-nam-icon.png "
										class="category-item-img ">
									<a th:href="@{/typeProduct(typed=1,index=1,text)}"  class="category-item__link ">
										Giày thể thao nam
									</a>
								</li>

								<li class="category-item ">
									<img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-the-thao-nu-icon.png "
										class="category-item-img ">
									<a th:href="@{/typeProduct(typed=2,index=1,text)}"  class="category-item__link ">
										Giày thể thao nữ
									</a>

								</li>

								<li class="category-item ">
									<img src="https://capvirgo.com/wp-content/uploads/2017/11/adidas-icon.png "
										class="category-item-img ">
									<a th:href="@{/typeProduct(typed=3,index=1,text)}" class="category-item__link ">
										Giày Adidas
									</a>

								</li>

								<li class="category-item ">
									<img src="https://capvirgo.com/wp-content/uploads/2021/07/air-jordan-150x150.png "
										class="category-item-img ">
									<a th:href="@{/typeProduct(typed=4,index=1,text)}"  class="category-item__link ">
										Giày Bóng Rổ
									</a>

								</li>


								<li class="category-item ">
									<img src="https://capvirgo.com/wp-content/uploads/2019/11/gucci-san-antonio-sunglasses-150x150.jpg"
										class="category-item-img ">
									<a th:href="@{/typeProduct(typed=5,index=1,text)}"  class="category-item__link ">
										Giày Gucci
									</a>

								</li>


								<li class="category-item ">
									<img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-tre-em-icon.png "
										class="category-item-img ">
									<a th:href="@{/typeProduct(typed=6,index=1,text)}"  class="category-item__link ">
										Giày thể thao trẻ em
									</a>

								</li>


							</ul>
						</div>
						<div class="top-product ">
							<header class="top-product-heading ">
								<h3 class="top-product-h3 ">
									TOP BÁN CHẠY
								</h3>
							</header>
							<ul class="top-product-list ">
								<th:block th:each="top : ${session.productsTop}">
									<li class="top-product-list-item ">
										<div class="top-product-list-item-1 ">
											<a th:href="@{/detailProduct(ma=${top.ma})}" class="top-product-list-name " th:text="${top.ten}">
											</a>
											<a th:href="@{/detailProduct(ma=${top.ma})}" class="top-product-list-link-img ">
												<img th:src="${top.token}" class="top-product-list-item-img ">
											</a>
		
										</div>
										<div class="top-product-list-item-price "
											style="display: flex; align-items: center; ">
											<span th:text="${top.format}"></span>
											<span style="text-decoration: underline; margin-left: 3px; ">đ</span>
										</div>
	
									</li>
								</th:block>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="@{/footer.html}"></div>
	</div>
	<script th:src="@{/index.js}"></script>
	<script>
		ShowIndex('.home__heading', '.home__heading-menu');
		Category('.home__heading');
		Sticky('.header_filter-background');

	</script>

</body>

</html>